// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html, body, main {
    height: 100%;
}

button.btn-primary {
    color: white;
}

#banner {
    position: relative;
    padding-top: 15%;
    width: 100%;
    min-height: 100%;
    text-align: center;
    color: #fff;
    background-image: url(/img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    h1 {
        text-shadow: 2px 2px #000000;
        font-size: 65px;
    }

    p {
        font-size: 30px;
        text-shadow: 1px 1px #000000;
    }




}

hr {
    max-width: 50px;
    border-width: 3px;
    margin: 30px auto;
    border-top: 6px solid #f05f40;
    opacity: 1;
}

.bg-primary {
    h1 {
        color: white;
    }
    color:white;
    hr {
        max-width: 50px;
        border-width: 3px;
        margin: 30px auto;
        border-top: 6px solid #ffffff;
        opacity: 1;
    }
    button {
        background-color: white;
        color: black;
    }
}

#wappen {
    width:250px;
    height: 300px;
    background-image: url("../img/wappen.png");
    background-position: center center;
    position: absolute;
    z-index: 1031;
    left: 50%;
    margin-left: -125px;
    background-repeat: no-repeat;
    margin-top: -250px;
}

.card-text {
    font-size: 1rem;
}
